

// Products.scss
.products {
    background: linear-gradient(180deg, #F6F6F6 0, #fff 95%);
    padding: 70px 0;

    @media screen and (max-width: 992px) {
        padding: 50px 0;
    }

    .title {
        text-align: center;
        margin-bottom: 60px;

        h2 {
            font-size: 48px;
            color: #000;
            margin-bottom: 15px;

            @media screen and (max-width: 1200px) {
                font-size: 38px;
                line-height: 55px;
            }
        }

        p {
            font-size: 20px;
            color: #000000a2;
            margin: 0 0 25px;
            margin: 0 auto 35px;
        }
    }

    .alert-box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #2B9F97;
        color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    
    .alert-content {
        display: flex;
        align-items: center;
    }
    
    .close {
        cursor: pointer;
        margin-left: auto;
        font-size: 20px;
    }
    
    .close:hover {
        color: #fff;
    }    

    .tab-buttons {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            overflow-x: scroll;
            width: 100%;
            gap: 20px;
        }

        button {
            color: #7f8685;
            background-color: transparent;
            border: 0;
            border-bottom: 2px solid transparent;
            padding: 0;
            margin-right: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                color: #7f8685;
                border-color: #2B9F97;
            }

            &:focus {
                outline: none;
                color: #7f8685;
                border-color: #2B9F97;
            }

            &.active {
                color: #000;
                border-color: #2B9F97;
            }
        }
    }

    .card {
        background: #fff;
        border-radius: 45px;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #0000001f;
        cursor:pointer;
        &:hover {
            h4{
             color: red; /* Optional: Change the color on hover */
             white-space: normal; /* Allow the text to wrap */
             overflow: visible;   /* Show full text */
             text-overflow: clip; /* Disable ellipsis on hover */
            }
         }
         h4 {
            font-size: 16px;
            color: #051312;
            margin-bottom: 10px;
            white-space: nowrap; /* Keep text in one line */
            overflow: hidden; /* Hide any overflow */
            text-overflow: ellipsis; /* Add the ellipsis (...) */
            width: 100%; /* Ensure it takes full width of container */
            display: inline-block; /* Make sure ellipsis works by ensuring block display */
            cursor:pointer; /* Change cursor to indicate hoverability */
            transition: color 0.3s; /* Smooth transition for color change */
           
          
        }

        .head {
            position: relative; 
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            margin-bottom: 15px;

            .blogImg {
                width: 100%;
                height: 250px;
                border-radius: 45px;
                object-fit: cover;
            }

            .date {
                position: absolute;
                top: 90%;
                left: 20px;
                width: 100px;
                text-align: center;
                transform: translate(0, -90%);
                background-color: #0000009e;
                padding: 10px;
                border-radius: 100px;

                p {
                    color: #ffffffbe;
                    font-size: 11px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;

                    span {
                        font-size: 16px;
                        font-weight: 600;
                        color: #fff;
                    }
                }
            }
        }

        .content {
            padding: 0 10px 10px;

            @mixin line-clamp($lines) {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: $lines;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;

            }
            
            h4 {
                font-size: 24px;
                color: #051312;
                margin-bottom: 10px;
                
                @include line-clamp(5);
            }

            p {
                font-size: 15px;
                color: #05131272;
                margin-bottom: 10px;
                @include line-clamp(1);
            }

            .readMore {
                font-size: 16px;
                font-weight: 500;
                background: #000;
                color: white;
                width: 100%;
                height: 53px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                transition: all 0.4s;

                &:hover {
                    background-color: #051312c4;
                }
            }
        }
    }

   

    .load-more {
        display: flex; /* Use flexbox to align the buttons */
        justify-content: center; /* Center the buttons horizontally */
        gap: 20px; /* Add space between the buttons */
        margin-top: 20px; /* Add top margin for better positioning */
    }
    
    .load-more-button {
        background-color: #2B9F97; /* Blue background color */
        border: none;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }
    
    .load-more-button:hover {
        background-color: #04664d;
    }
    
    .load-more-button:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
    
    .cart-button-wrapper {
        display: flex;
        justify-content: center;
    }
    
    .cart-button-select {
        background-color: #2B9F97; 
        border: none;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }
    
    .cart-button-select:hover {
        background-color: #0e4d02;
    }
    
    .cart-button-select:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
    

    

    .generate-btn {
            background-color: #2B9F97;
            color: white;
            font-size: 16px;
            font-weight: 500;
            padding: 11px 26px;
            border: none;
            border-radius: 100px;
            cursor: pointer;
            transition: background-color 0.4s;

            &:hover {
                background-color: #228b7d;
            }

            &:disabled {
                background-color: #cccccc;
                cursor: not-allowed;
            }
        }
    }


// }
